# Default system properties included when running spark-submit.
# This is useful for setting default environmental settings.
spark.sql.session.timeZone                    Europe/London
spark.eventLog.enabled                        true
spark.eventLog.dir                            {{ spark_container_home }}/spark-events
spark.hadoop.fs.s3a.impl                      org.apache.hadoop.fs.s3a.S3AFileSystem
spark.hadoop.fs.s3a.endpoint                  {{ iceberg_catalog_s3_endpoint }}
spark.history.fs.logDirectory                 {{ spark_container_home }}/spark-events
spark.sql.extensions                          org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions
spark.sql.catalogImplementation               in-memory

spark.sql.catalog.isis                        org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.isis.io-impl                org.apache.iceberg.aws.s3.S3FileIO
spark.sql.catalog.isis.warehouse              s3://catalog-{{ iceberg_catalog_name }}/
spark.sql.catalog.isis.s3.endpoint            {{ iceberg_catalog_s3_endpoint }}
spark.sql.catalog.isis.catalog-impl           org.apache.iceberg.jdbc.JdbcCatalog
spark.sql.catalog.isis.uri                    jdbc:{{ iceberg_catalog_db_uri }}
spark.sql.catalog.isis.jdbc.user              {{ iceberg_catalog_db_user }}
spark.sql.catalog.isis.jdbc.password          {{ iceberg_catalog_db_passwd }}
spark.sql.catalog.isis.jdbc.schema-version    V1
