{% if 'minio' in groups %}
http:
  routers:
    # TLS
    minio:
      entryPoints: minio_tls
      rule:  PathPrefix(`/`)
      service: minio
      tls: {}

  services:
    minio:
      loadBalancer:
        servers:
          - url: "http://minio:{{ minio_console_http_port }}"
{% endif %}
