tls:
  certificates:
    - certFile: /certs/cert__data-accelerator_isis_cclrc_ac_uk.pem
      keyFile: /certs/key__data-accelerator_isis_cclrc_ac_uk.pem
    - certFile: /certs/cert__analytics_isis_cclrc_ac_uk.pem
      keyFile: /certs/key__analytics_isis_cclrc_ac_uk.pem
