isis_catalog:
  target: trino
  outputs:
    trino:
      type: trino
      method: ldap
      user: {{ trino_ingestion_username }}
      password: {{ vault_trino_ingestion_passwd }}
      host: {{ top_level_domain }}
      port: {{ trino_https_port }}
      http_scheme: https
      database: {{ lakekeeper_catalog.name }}
      schema: analytics
