connector.name=iceberg
fs.native-s3.enabled=true
iceberg.catalog.type=rest
iceberg.rest-catalog.security=NONE
iceberg.rest-catalog.vended-credentials-enabled=false
iceberg.rest-catalog.uri={{  nessie_iceberg_uri }}
iceberg.rest-catalog.prefix=main

s3.endpoint={{ s3_endpoint }}
s3.path-style-access=false
s3.region={{ s3_region }}
s3.aws-access-key={{ s3_access_key_id }}
s3.aws-secret-key={{ s3_access_secret }}
