connector.name=iceberg
iceberg.catalog.type=jdbc
iceberg.security=READ_ONLY
iceberg.jdbc-catalog.catalog-name={{ iceberg_catalog_name }}
iceberg.jdbc-catalog.driver-class=org.postgresql.Driver
iceberg.jdbc-catalog.connection-url=jdbc:{{ iceberg_catalog_db_uri }}
iceberg.jdbc-catalog.connection-user={{ iceberg_catalog_db_user }}
iceberg.jdbc-catalog.connection-password={{ iceberg_catalog_db_passwd }}
iceberg.jdbc-catalog.default-warehouse-dir=s3://{{ iceberg_catalog_name }}
fs.native-s3.enabled=true
s3.endpoint={{ iceberg_catalog_s3_endpoint }}
s3.region={{ s3_region }}
s3.path-style-access=true
s3.aws-access-key={{ s3_access_key_id }}
s3.aws-secret-key={{ s3_access_secret }}
