-r ../../requirements/base.in
-e ../../pipelines-common
# AWS SDK implmented checksum validation that is not supported by 3rd-party services
# Minimum version of botocore required to pass relevant options to s3transfer
# https://github.com/boto/boto3/issues/4398
botocore>=1.36.5
duckdb==1.2.0
sqlglot==26.6.0
