# Dynamic traefik configuration
tcp:
  routers:
    # Non-TLS
    sparkcontroller:
      entryPoints: sparkcontroller
      rule: HostSNI(`*`)
      service: sparkcontroller
  services:
    sparkcontroller:
      loadBalancer:
        servers:
          - address: "{{ groups['spark'][0] }}:{{ spark_controller_port }}"

http:
  routers:
    # TLS
    traefik:
      entryPoints: websecure
      rule: PathPrefix(`/traefik`) || HeaderRegexp(`Referer`, `/traefik`)
      service: api@internal
      middlewares:
        - traefik-strip-prefix
        - dashboardauth
      tls: {}
    jupyterhub:
      entryPoints: websecure
      rule: PathPrefix(`{{ jupyterhub_base_path }}`)
      service: jupyterhub
      tls: {}
    superset:
      entryPoints: websecure
      rule: PathPrefix(`{{ superset_base_path }}`)
      service: superset
{% if superset_base_path != '/' %}
      middlewares:
        - superset-strip-prefix
{% endif %}
      tls: {}
    trino:
      entryPoints: trinosecure
      rule: PathPrefix(`/`)
      service: trino
      tls: {}
    minio:
      entryPoints: miniosecure
      rule:  PathPrefix(`/`)
      service: minio
      tls: {}

  middlewares:
    dashboardauth:
      basicauth:
        users: admin:$2y$10$xRntwpemRqOvRaDz6kLt1ed3d5JcHZSjTdlO3tCiKmnN42hdrQsA6
{% if superset_base_path != '/' %}
    superset-strip-prefix:
      stripPrefix:
        prefixes: "{{ superset_base_path }}"
{% endif %}
    traefik-strip-prefix:
      stripPrefix:
        prefixes:
          - "/traefik"

  services:
    jupyterhub:
      loadBalancer:
        servers:
          - url: "http://{{ groups['jupyterhub'][0] }}:{{ jupyterhub_http_port }}"
    superset:
      loadBalancer:
        servers:
          - url: "http://{{ groups['superset'][0] }}:{{ superset_http_port }}"
    trino:
      loadBalancer:
        servers:
          - url: "{{ trino_coordinator_url }}"
    minio:
      loadBalancer:
        servers:
          - url: "http://{{ groups['minio'][0] }}:{{ minio_console_http_port }}"

tls:
  certificates:
    - certFile: /certs/dataplatform_cert.pem
      keyFile: /certs/dataplatform_key.pem
