http:
  routers:
    # TLS
    metabase:
      entryPoints: web_tls
      rule: PathPrefix(`{{ metabase_app_root }}`)
      service: metabase
{% if metabase_app_root != '/' %}
      middlewares:
        - metabase-strip-prefix
{% endif %}
      tls: {}

{% if metabase_app_root != '/' %}
  middlewares:
    metabase-strip-prefix:
      stripPrefix:
        prefixes:
          - "{{ metabase_app_root }}"
{% endif %}

  services:
    metabase:
      loadBalancer:
        servers:
          - url: "http://{{ groups['metabase'][0] }}:{{ metabase_http_port }}"
