http:
  routers:
    nessie_tls:
      entryPoints: web_tls
      rule: PathPrefix(`{{ nessie_base_path }}`)
      service: nessie
{% if nessie_base_path != '/' %}
      middlewares:
        - nessie-strip-prefix
{% endif %}
      tls: {}

{% if nessie_base_path != '/' %}
  middlewares:
    nessie-strip-prefix:
      stripPrefix:
        prefixes:
          - "{{ nessie_base_path }}"
{% endif %}
  services:
    nessie:
      loadBalancer:
        servers:
          - url: "http://{{ groups['nessie'][0] }}:{{ nessie_http_port }}"
