tcp:
  routers:
    # Non-TLS
    sparkcontroller:
      entryPoints: sparkcontroller
      rule: HostSNI(`*`)
      service: sparkcontroller

  services:
    sparkcontroller:
      loadBalancer:
        servers:
          - address: "{{ groups['spark'][0] }}:{{ spark_controller_port }}"

http:
  routers:
    sparkcontrollerui:
      entryPoints: sparkcontrollerui_tls
      rule:  PathPrefix(`/`)
      service: sparkcontrollerui
      tls: {}

  services:
    sparkcontrollerui:
      loadBalancer:
        servers:
          - url: "http://{{ groups['spark'][0] }}:{{ spark_controller_ui_port }}"
