services:

  metabase:
    build: .
    ports:
      - "{{ metabase_http_port }}:3000"
    networks:
      - {{ metabase_container_network }}
    env_file:
      - path: .env # default
        required: true

networks:
  {{ metabase_container_network }}:
    external: true
