MB_DB_TYPE=postgres
MB_DB_DBNAME={{ metabase_metadb_name }}
MB_DB_PORT={{ metabase_metadb_port }}
MB_DB_USER={{ metabase_metadb_user }}
MB_DB_PASS={{metabase_metadb_passwd }}
MB_DB_HOST={{ metabase_metadb_host }}

MB_SITE_URL: http://{{ top_level_domain }}{{ metabase_app_root }}
