global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: ERROR
  noColor: true

accessLog:
  addInternals: false
  filePath: /var/log/traefik/access.log

api:
  dashboard: true

entryPoints:
  # Non-TLS entrypoints
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: web_tls
          scheme: https
  sparkcontroller:
    address: ":7077"

  # TLS entrypoints
  web_tls:
    address: ":443"
{% if 'minio' in groups %}
  minio_tls:
    address: ":{{ minio_console_https_port }}"
{% endif %}
  trino_tls:
    address: ":{{ trino_https_port }}"
  sparkcontrollerui_tls:
    address: ":{{ spark_controller_ui_https_port }}"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true
