# Default system properties included when running spark-submit or pyspark
spark.master                                  spark://{{ top_level_domain }}:{{ spark_controller_port }}
spark.ui.reverseProxy                         true
spark.ui.reverseProxyUrl                      {{ spark_reverse_proxy_url }}
spark.blockManager.port                       38000
spark.broadcast.port                          38001
spark.driver.port                             38002
spark.fileserver.port                         38003

spark.cores.max                               8
spark.executor.memory                         16g
spark.jars.packages                           {{ spark_default_packages | join(",") }}

spark.hadoop.fs.s3.impl                       org.apache.hadoop.fs.s3a.S3AFileSystem
spark.hadoop.fs.s3a.endpoint                  {{ s3_endpoint }}
spark.hadoop.fs.s3a.endpoint.region           {{ s3_region }}
spark.hadoop.fs.s3a.path.style.access         true
{% if spark_defaults_include_s3_secrets | default(False) %}
spark.hadoop.fs.s3a.access.key                {{ s3_access_key_id }}
spark.hadoop.fs.s3a.secret.key                {{ s3_access_secret }}
{% endif %}

spark.sql.session.timeZone                    UTC
spark.sql.repl.eagerEval.enabled              true
spark.sql.extensions                          {{ spark_default_sql_exts | join(",") }}
spark.sql.catalogImplementation               in-memory

spark.sql.catalog.isis                        org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.isis.type                   rest
spark.sql.catalog.isis.uri                    {{ lakekeeper_url }}/catalog
spark.sql.catalog.isis.warehouse              {{ lakekeeper_catalog.name }}
spark.sql.catalog.isis.oauth2-server-uri      {{ keycloak_token_endpoint_url_isis }}
spark.sql.catalog.isis.credential             {{ vault_ingestion_catalog_client_id }}:{{ vault_ingestion_catalog_client_secret }}
spark.sql.catalog.isis.scope                  lakekeeper
