connector.name=iceberg
iceberg.catalog.type=rest
iceberg.rest-catalog.uri={{ lakekeeper_catalog.uri}}
iceberg.rest-catalog.warehouse={{ lakekeeper_catalog.name }}
iceberg.rest-catalog.vended-credentials-enabled=false
iceberg.rest-catalog.security=OAUTH2
iceberg.rest-catalog.oauth2.server-uri={{ keycloak_token_endpoint_url_isis }}
iceberg.rest-catalog.oauth2.credential={{ vault_trino_catalog_client_id }}:{{ vault_trino_catalog_client_secret }}
iceberg.rest-catalog.oauth2.scope=lakekeeper offline_access

# Our S3 implementation does not have STS enabled so we need to provide
# S3 credentials too
fs.native-s3.enabled=true
s3.endpoint={{ s3_endpoint }}
s3.region={{ s3_region }}
s3.path-style-access=true
s3.aws-access-key={{ s3_access_key_id }}
s3.aws-secret-key={{ s3_access_secret }}
