global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: ERROR
  noColor: true

accessLog:
  addInternals: false
  filePath: /var/log/traefik/access.log

api:
  dashboard: true

entryPoints:
  # Non-TLS entrypoints
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  sparkcontroller:
    address: ":7077"

  # TLS entrypoints
  websecure:
    address: ":443"
  trinosecure:
    address: ":8443"
  miniosecure:
    address: ":{{ minio_console_https_port }}"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true
