####################################################################
[ req ]
distinguished_name      = req_distinguished_name
prompt                  = no

[ req_distinguished_name ]
C = GB
ST = Wiltshire
O = UK Research and Innovation
OU = STFC
CN = data-accelerator.isis.cclrc.ac.uk
