coordinator=true
node-scheduler.include-coordinator=true
catalog.management=static
transaction.idle-timeout=8h

discovery.uri={{ trino_coordinator_url }}
http-server.http.port={{ trino_http_port }}
http-server.process-forwarded=true

http-server.authentication.type=PASSWORD
internal-communication.shared-secret={{ trino_shared_secret }}
