[opralogwebdb.sources.sql_database.credentials]
drivername = "mssql+pymssql"
database = "OpralogWebDB"
port = 1433
host = "fitgensql1.isis.cclrc.ac.uk"
username = "{{ vault_ingestion_opralogweb_user }}"
password = "{{ vault_ingestion_opralogweb_passwd }}"

[destination.filesystem.credentials]
aws_access_key_id = "{{ s3_access_key_id }}"
aws_secret_access_key = "{{ s3_access_secret }}"
endpoint_url = "{{ s3_endpoint }}"
s3_url_style = "path"
