#!/bin/bash
# Create the initial databases.
# Use the  Ansible 'postgres_db_names' variable to define a list of the
# desired names.
set -e

psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" <<-EOSQL
{% for name in postgres_db_names  %}
  CREATE DATABASE {{ name }};
{% endfor %}
EOSQL
